/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
NOTES      search.html specific css file     
RESET      none
SHARED     cross element sharing, not unique to one section, example: a,.test,h1,h2 { ... }
MAIN       search: span, input
*/

/*------------------------------------*\
    $MAIN
\*------------------------------------*/

/**
  * $SEARCH
  */

.weather-search-container {
    background-color: white;
    left: 0;
    opacity: 0.7;
    padding: 0.8em 0.6em 0.8em 0.8em;
    position: absolute;
    top: 0;
}

  .weather-search-container > span {
      color: #52b3d9;
      font-size: 2em;
      margin: auto;
      padding-left: 0.7em;
      padding-right: 0.3em;
  }

  .weather-search-container > input {
      border: none;
      font-size: 1.4em;
      margin: 0;
      padding: 0 0 0 1em;
      top: 0;
  }

  .weather-search-container > input {
      border: none;
      font-size: 1.4em;
      margin: 0;
      padding: 0 0 0 1em;
      top: 0;
  }

/**
  * $SEARCH : EVENTS;
  */

.weather-search-container:hover {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;

    opacity: 1;
}

  .weather-search-container > input:focus {
      border: none;
      outline: 0;
  }


